<div>
  <h2 mat-dialog-title class="tc">How to play Bingo - Tambola - Housie</h2>
  <mat-dialog-content>
    <h4 class="tc"><strong>PREPARE TO PLAY</strong></h4>
    <ul>
      <li>Distribute Tambola Tickets freely or at a fixed or mutually-agreed-upon price to everyone who wants to play.</li>
      <li>Decide the prizes for the decided winning points. Winning points can be like:
        <ul>
          <li><strong>Early 5:</strong> The ticket with first five struck numbers,</li>
          <li><strong>First Row/Top Row:</strong> The ticket with all numbers struck in a top row first,</li>
          <li><strong>Second Row/Middle Row:</strong> The ticket with all numbers struck in middle row first,</li>
          <li><strong>Third Row/Bottom Row:</strong> The ticket with all numbers struck in a bottom row first,</li>
          <li><strong>Corners:</strong> The ticket with all 4 corner numbers struck first (1st and last numbers of top and bottom rows),
          </li>
          <li><strong>Corner with Star:</strong> The ticket with all 4 corner & center-most numbers struck first (1st and last numbers of
            top and bottom rows along with a center-most number of the middle row),</li>
          <li><strong>Full House/First House:</strong> The ticket with all its numbers struck first,</li>
          <li><strong>Second House:</strong> The ticket with all its numbers struck second,</li>
          <li>And So On…</li>
        </ul>
      </li>
    </ul>
    <h4 class="tc"><strong>PLAYING THE GAME</strong></h4>
    <ul>
      <li>The <strong>CALLER</strong> should open the Housie Board by clicking on the button</li>
      <li>The <strong>CALLER</strong> needs to click a the Next Number button to generate a random number to be called with a quirky message.</li>
      <li>If a number called by <strong>CALLER</strong> exists on a player’s ticket, then the player has to strike/click it.</li>
      <li>Once a particular Winning point is achieved by a <strong>PLAYER</strong>, he/she has to claim it immediately.</li>
      <li>The <strong>CALLER</strong> has to verify the winning point by checking the struck numbers on the ticket with the called out numbers.</li>
      <li>The <strong>CALLER</strong> then declares if the winning has been successfully claimed. If not, the winning point is still available
        to be claimed.</li>
      <li>The game ends when all the <strong>FULL HOUSEs</strong> are successfully <strong>CLAIMED</strong>.</li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-center">
    <button mat-raised-button color="primary" class="mat-raised-button" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
