<div>
  <!-- <h1 class="title">Let's play Bingo!</h1> -->
  <div class="title-div">
    <img src="../assets/img/bingo-text-4.png">
  </div>
  <div id="outer-button-div" class="ma3 flex-l justify-center items-center tc">
    <div id="inner-ticket-div" class="flex-l items-center ma3-l">
      <!-- <img src="../assets/img/app_background.jpg" alt="App Background"> -->
      <mat-form-field class="mv2-l mh2 w5">
        <mat-label>How many tickets do you need?</mat-label>
        <input matInput placeholder="Enter a value (1-100)" [formControl]="ticketInput">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="genrateTickets()">Generate Tickets!</button>
    </div>
    <div id="inner-board-div" class="ma3">
      <button mat-raised-button color="primary" (click)="openHousieBoard()">Open Housie Board!</button>
    </div>
    <div id="inner-reset-div" class="ma3">
      <button mat-raised-button color="primary" (click)="reset()">RESET!</button>
    </div>
  </div>
  <div #ticketsDiv *ngIf="showTickets">
    <div class="ticket-inner-div mh3 mb5" *ngFor="let t of generatedTickets">
      <table class="ticketTable">
        <tr>
          <td *ngFor="let data of t[0]">{{data == 0? '' : data}}</td>
        </tr>
        <tr>
          <td *ngFor="let data of t[1]">{{data == 0? '' : data}}</td>
        </tr>
        <tr>
          <td *ngFor="let data of t[2]">{{data == 0? '' : data}}</td>
        </tr>
      </table>
      <br>
    </div>
  </div>
  <div class="ma4" #housieBoardOuterDiv *ngIf="showHousieBoard">
    <div id="current-number" class="flex justify-center ma3">
      <mat-card class="w-40 tc example-card bgcolorset">
        <mat-card-header class="justify-center">
          <mat-card-title>{{currentText}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1>{{currentNumber}}</h1>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="callNumber()">Next Number</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div #housieBoard class="flex justify-center">
      <table class="housieTable">
        <tr *ngFor="let i of oneToEight">
          <td *ngFor="let j of oneToNine" [ngClass]="{'bgyellow': calledNumbers.indexOf((i*10+j+1)) >= 0}">{{(i*10+j+1)}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
